---
import Meta from "@/components/meta.astro";
---

<html lang="en">
	<head>
		<Meta title="Reactive - 404" description="A blog about programming concepts and technologies" />
	</head>
  <body class="bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 antialiased">
    <main class="w-full mx-auto md:max-w-2xl px-6 py-12 flex flex-col space-y-12">
      <a href="/" class="w-min text-md font-semibold text-neutral-800 dark:text-neutral-200">
				reactive.so
			</a>
      <div class="w-full flex flex-col space-y-4">
        <p>Sorry, we couldn't find the content you were looking for :(</p>
				<a href="/">Go back home</a>
        <!-- <Feedback source={post.slug} />
        <Render code={post.body.code} />
        <Feedback source={post.slug} /> -->
      </div>
    </main>
    {/* <Analytics />
    <PenkleAnalytics domain="reactive.so" />
    <SpeedInsights /> */}
  </body>
</html>
